@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

:root{
    --light-blue: 18, 131, 185;
    --dark-blue: 6, 67, 95;
    --white: 255, 255, 255;
}

header{
    background-color: rgb(var(--light-blue));

    height: 400px;
    background-image: url(../img/balaton_bg.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px black;
    font-size: 3rem;
    color: white;
}

h2{
    text-decoration: wavy underline;
    color: rgb(var(--light-blue));
}

@media screen and (max-width: 992px) {
    h1{
        font-size: 1.5rem;
    }
}

h1, h2, h3, footer, thead{
    font-family: "Marhey", sans-serif;
}

nav{
    background-color: rgb(var(--dark-blue));
}

.nav-item:active{
    background-color: rgba(var(--white), 0.2);
}

.dark-blue-shadow{
    box-shadow: 1px 1px 3px rgb(var(--dark-blue));
}